In [65]:
import numpy as np
import pandas as pd
import json
from sklearn.preprocessing import StandardScaler
from sklearn.metrics.pairwise import cosine_similarity

In [80]:
df = pd.read_csv("data.csv")

In [81]:
df['B_Age'] = pd.to_numeric(df['B_Age'], errors='coerce')

df = df.dropna(subset=['B_Age'])

sorted_df = df.sort_values(by='B_Age')

youngest_fighter = sorted_df.iloc[0]
oldest_fighter = sorted_df.iloc[-1]
middle_index = len(sorted_df) // 2
middle_age_fighter = sorted_df.iloc[middle_index]

print(f"Youngest Fighter: {youngest_fighter['B_Name']}, Age: {youngest_fighter['B_Age']}")
print(f"Oldest Fighter: {oldest_fighter['B_Name']}, Age: {oldest_fighter['B_Age']}")
print(f"Middle-Aged Fighter: {middle_age_fighter['B_Name']}, Age: {middle_age_fighter['B_Age']}")

Youngest Fighter: Song Yadong, Age: 20.0
Oldest Fighter: Dan Henderson, Age: 48.0
Middle-Aged Fighter: Jordan Rinaldi, Age: 31.0

In [94]:
lower_age = 21
upper_age = 21

similar_age_fights = df[(df["B_Age"].between(lower_age, upper_age)) | (df["R_Age"].between(lower_age, upper_age))]

fighter_counts = pd.concat([similar_age_fights["B_Name"], similar_age_fights["R_Name"]]).value_counts()

top_10_fighters = fighter_counts.head(10).index.tolist()

blue_corner_weights = df[df["B_Name"].isin(top_10_fighters)][["B_Name", "B_Weight"]].rename(columns={"B_Name": "Fighter", "B_Weight": "Weight"})
red_corner_weights = df[df["R_Name"].isin(top_10_fighters)][["R_Name", "R_Weight"]].rename(columns={"R_Name": "Fighter", "R_Weight": "Weight"})

weights = pd.concat([blue_corner_weights, red_corner_weights])

weights = weights.groupby("Fighter")["Weight"].mean().sort_values(ascending=False)
weights.rename_axis("Top 10 fighters that are similar weight classes to Song Yadong (Age 21)", inplace=True)

print(weights)

Top 10 fighters that are similar weight classes to Song Yadong (Age 21)
Carls John De Tomas    56.0
Matt Schnell           56.0
Naoki Inoue            56.0
Chanmi Jeon            52.0
JJ Aldrich             52.0
Syuri Kondo            52.0
Name: Weight, dtype: float64

In [96]:
lower_age = 31
upper_age = 31

similar_age_fights = df[(df["B_Age"].between(lower_age, upper_age)) | (df["R_Age"].between(lower_age, upper_age))]

fighter_counts = pd.concat([similar_age_fights["B_Name"], similar_age_fights["R_Name"]]).value_counts()

top_10_fighters = fighter_counts.head(10).index.tolist()

blue_corner_weights = df[df["B_Name"].isin(top_10_fighters)][["B_Name", "B_Weight"]].rename(columns={"B_Name": "Fighter", "B_Weight": "Weight"})
red_corner_weights = df[df["R_Name"].isin(top_10_fighters)][["R_Name", "R_Weight"]].rename(columns={"R_Name": "Fighter", "R_Weight": "Weight"})

weights = pd.concat([blue_corner_weights, red_corner_weights])

weights = weights.groupby("Fighter")["Weight"].mean().sort_values(ascending=False)

weights.rename_axis("Top 10 fighters that are similar weight classes to Jordan Rinaldi (Age 31)", inplace=True)

print(weights)

Top 10 fighters that are similar weight classes to Jordan Rinaldi (Age 31)
Chris Camozzi         84.0
Neil Magny            77.0
Yancy Medeiros        77.0
Anthony Pettis        70.0
James Vick            70.0
Dennis Bermudez       65.0
Renan Barao           61.0
Henry Cejudo          56.0
Cortney Casey         52.0
Joanna Jedrzejczyk    52.0
Name: Weight, dtype: float64

In [99]:
lower_age = 48
upper_age = 48

similar_age_fights = df[(df["B_Age"].between(lower_age, upper_age)) | (df["R_Age"].between(lower_age, upper_age))]

fighter_counts = pd.concat([similar_age_fights["B_Name"], similar_age_fights["R_Name"]]).value_counts()

top_10_fighters = fighter_counts.head(10).index.tolist()

blue_corner_weights = df[df["B_Name"].isin(top_10_fighters)][["B_Name", "B_Weight"]].rename(columns={"B_Name": "Fighter", "B_Weight": "Weight"})
red_corner_weights = df[df["R_Name"].isin(top_10_fighters)][["R_Name", "R_Weight"]].rename(columns={"R_Name": "Fighter", "R_Weight": "Weight"})

weights = pd.concat([blue_corner_weights, red_corner_weights])

weights = weights.groupby("Fighter")["Weight"].mean().sort_values(ascending=False)

weights.rename_axis("Top 10 fighters that are similar weight classes to Dan Henderson (Age 48)", inplace=True)

print(weights)

KeyError: 'R_Age'

In [50]:
df.head()

,BPrev,BStreak,B_Age,B_Height,B_HomeTown,B_ID,B_Location,B_Name,B_Weight,B__Round1_Grappling_Reversals_Landed,...,R__Round5_TIP_Ground Time,R__Round5_TIP_Guard Control Time,R__Round5_TIP_Half Guard Control Time,R__Round5_TIP_Misc. Ground Control Time,R__Round5_TIP_Mount Control Time,R__Round5_TIP_Neutral Time,R__Round5_TIP_Side Control Time,R__Round5_TIP_Standing Time,winby,winner
0,0,0,38.0,193.0,Hounslow England,808,Amsterdam The Netherlands,Alistair Overeem,120.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DEC,blue
1,0,0,36.0,172.0,"Chicago, Illinois United States",1054,"Chicago, Illinois United States",Ricardo Lamas,65.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DEC,red
2,0,0,39.0,167.0,"Isla Vista , California USA",959,"Sacramento, California USA",Urijah Faber,61.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KO/TKO,red
3,0,0,33.0,167.0,"San Diego, CA USA",1056,"San Diego, CA USA",Danny Martinez,56.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DEC,red
4,0,0,36.0,185.0,Southampton England,2005,Southampton England,Tom Watson,84.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DEC,red

In [51]:

df[['B_Name', 'R_Name', 'Last_round']][df['Max_round'] == 4]

               B_Name                 R_Name  Last_round
79       Eddie Gordon            Dhiego Lima           1
235    Matt Van Buren         Corey Anderson           1
306     Jianping Yang          Ning Guangyou           3
722    Fernando Bruno  Glaico Franca Moreira           3
723      Dileno Lopes       Reginaldo Vieira           3
783     Hayder Hassan           Kamaru Usman           2
871     Enrique Marin          Erick Montano           3
873   Enrique Barzola      Horacio Gutierrez           3
967         Ryan Hall            Artem Lobov           3
1156    Amanda Cooper         Tatiana Suarez           1
1157  Khalil Rountree         Andrew Sanchez           3
1344  Claudio Puelles           Martin Bravo           2
1708     Jesse Taylor            Dhiego Lima           2
2210    Joe Giannetti        Michael Trizano           3
2211      Brad Katona        Jay Cucciniello           3

In [52]:
# replacing Max_round of 4 to 3 instead
df.loc[df['Max_round'] == 4, 'Max_round'] = 3

# print to double check
print('There are', df['Max_round'][df['Max_round'] == 3].size, 'fights with max 3 rounds')
print('There are', df['Max_round'][df['Max_round'] == 4].size, 'fights with max 4 rounds')
print('There are', df['Max_round'][df['Max_round'] == 5].size, 'fights with max 5 rounds')

There are 2099 fights with max 3 rounds
There are 0 fights with max 4 rounds
There are 219 fights with max 5 rounds

In [55]:
df[['B_Name', 'R_Name', 'Date', 'Last_round', 'winner', 'winby']][(df['winner'] == 'no contest') & (df['winby'].notnull())] # exclude the no-contests with no 'winby'

,B_Name,R_Name,Date,Last_round,winner,winby
40,Louis Gaudinot,Phil Harris,06/21/2014,1,no contest,SUB
70,Yaotzin Meza,Chico Camus,06/06/2014,3,no contest,DEC
234,Keith Berish,Robert Drysdale,01/11/2016,1,no contest,SUB
255,Bubba Bush,Kevin Casey,07/07/2015,1,no contest,KO/TKO
301,Brian Ortega,Mike de la Torre,08/22/2014,1,no contest,SUB
403,Jerrod Sanders,Pedro Munhoz,10/06/2014,1,no contest,SUB
428,Joshua Burkman,Hector Lombard,02/13/2017,3,no contest,DEC
513,Nick Diaz,Anderson Silva,02/02/2015,5,no contest,DEC
628,Drew Dober,Leandro Silva,03/26/2015,2,no contest,SUB
734,Damon Jackson,Rony Jason,05/31/2015,1,no contest,SUB
894,Jim Alers,Cole Miller,02/16/2016,2,no contest,KO/TKO
1179,Mark Hunt,Brock Lesnar,07/11/2016,3,no contest,DEC
1389,Darren Stewart,Francimar Barroso,11/22/2016,1,no contest,KO/TKO
1473,Curtis Blaydes,Adam Milstead,03/17/2017,2,no contest,KO/TKO
1475,Niko Price,Alex Morono,02/06/2017,2,no contest,KO/TKO
1522,Kelvin Gastelum,Vitor Belfort,05/13/2017,1,no contest,KO/TKO
1664,Jon Jones,Daniel Cormier,09/13/2017,3,no contest,KO/TKO
1764,Kurt Holobaugh,Matt Bessette,10/10/2017,1,no contest,KO/TKO